.typeahead {
	width: 100%;
}

.niceish-padding {
	padding: 1em 7em;
}

#root {
	  min-height: 100%;
}

.metric-card {
	background: white;
	border: 1px solid #333;
}



/* Transitions */
.sweeping-transition {
	transition: all 200ms ease;
  transition-property: left, top;
}
/*.pageTransition-enter {
  transition: all 200ms ease;
  transition-property: left, top;
}
.pageTransition-enter.pageTransition-enter-active {
  opacity: 1;
}

.pageTransition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.pageTransition-leave.pageTransition-leave-active {
  opacity: 0.01;
}*/
/*.pageTransition-enter {
  opacity: 0.01;
  transition: all 200ms ease;
  transition-property: left, top;
}

.pageTransition-enter.pageTransition-enter-active {
  opacity: 1.0;
}

.pageTransition-leave {
	visibility: hidden;
    height: 0px;
    width: 0px;
    
    opacity: 1.0;
  	transition: opacity 1ms ease;
}

.pageTransition-leave.pageTransition-leave-active {
	opacity: 0;
}*/


/* utilities */
.muted {
	  color: rgba(0, 0, 0, 0.4);
}

.center {
	text-align: center;
}




.ui.menu.primary .title,
.ui.breadcrumb .section {
	cursor: pointer;
}